/* Pilowlava */
@font-face 
{
  font-family: 'Pilowlava';
  src: url('fonts/Pilowlava-Regular.woff2') format('woff2'),
    url('fonts/Pilowlava-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

/* Inter regular */
@import url('https://api.fonts.coollabs.io/css2?family=Inter&display=swap');

/* Alliance No.1 */
@import url('http://fonts.cdnfonts.com/css/alliance-no1');